<h1>Gesture Detector</h1>

<form action="/api/v1/add/player" method="post">
    <input  type="text" name="player-name" placeholder="What is your name?">
    <input  type="number" name="player-age" placeholder="How old are you?">
    <button type="submit">Play</button>
</form>