{{> header.handlebars}}

<div class="container">
    <h1></h1>
    <div>

        <div>
            <div id="position-yourself" class="mb-3"></div>
        </div>

        <div class="controls">
            <div class="question gesture mb-3"></div>
        </div>
        <div class="controls mb-3">
            <div id="question" class="question"></div>
        </div>


        <div class="controls">

            <div id="box" class="mb-2">
                <canvas id="canvas">
                    <div id="webcam-container"></div>
                </canvas>
            </div>

<!--            <div id="label-container"></div>-->

            <div class="controls mb-2 text-center">
                <button id="start-button" type="button" class="start btn btn-success mx-auto" >Start</button>
                <button id="stop" type="button" class="stop btn btn-danger mx-auto">Stop</button>
                <button id="restart" type="button" class="restart btn btn-primary mx-auto">Restart</button>
            </div>

        </div>


        <div class="row">
            <div id="correct-toggle" class="card text-white bg-success my-3 mx-auto" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div id="incorrect-toggle" class="card text-white bg-danger my-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Danger card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>



    </div>

</div>
<div class="container text-center">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/pose@0.8/dist/teachablemachine-pose.min.js"></script>
    <script src="/js/model.js"></script>
</div>
{{> footer.handlebars}}