<div class="text-center ">
    <form action="/add/player" method="post">
        <div class="col-md-5 offset-md-4 align-self-center mb-3">
            <label for="validationDefault01">Player name:</label>
            <input type="text" class="form-control" id="validationDefault01" name="name" required>
        </div>
        <div class="col-md-5 offset-md-4 align-self-center mb-4">
            <label for="validationDefault01">Age</label>
            <input type="text" class="form-control" id="validationDefault01" name="age" required>
        </div>
        <div class="col-md-5 offset-md-4 align-self-center mb-3 bg-success">
            <button class="btn" type="submit">Play</button>
        </div>
    </form>
</div>